<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.icegeneral.rxjavaapi">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".GenerateActivity" />
        <activity android:name=".generate.CreateActivity" />
        <activity android:name=".generate.JustActivity" />
        <activity android:name=".generate.FromActivity" />
        <activity android:name=".generate.DeferActivity" />
        <activity android:name=".generate.IntervalActivity" />
        <activity android:name=".generate.TimerActivity" />
        <activity android:name=".generate.RangeActivity" />
        <activity android:name=".generate.RepeatActivity" />
        <activity android:name=".generate.EmptyNeverThrowActivity" />
        <activity android:name=".TransformActivity" />
        <activity android:name=".transform.MapActivity" />
        <activity android:name=".transform.FlatMapActivity" />
        <activity android:name=".transform.BufferActivity" />
        <activity android:name=".transform.WindowActivity" />
        <activity android:name=".transform.ScanActivity" />
        <activity android:name=".transform.GroupByActivity" />
        <activity android:name=".FilterActivity" />
        <activity android:name=".filter.DebounceActivity" />
        <activity android:name=".filter.DistinctActivity" />
        <activity android:name=".filter.ElementAtActivity" />
        <activity android:name=".filter.FilterActivity" />
        <activity android:name=".filter.FirstActivity" />
        <activity android:name=".filter.LastActivity" />
        <activity android:name=".filter.TakeActivity" />
        <activity android:name=".filter.TakeLastActivity" />
        <activity android:name=".filter.SkipActivity" />
        <activity android:name=".filter.SkipLastActivity" />
        <activity android:name=".filter.IgnoreElementsActivity" />
        <activity android:name=".filter.ThrottleActivity" />
        <activity android:name=".CombineActivity" />
        <activity android:name=".combine.ZipActivity" />
        <activity android:name=".combine.MergeActivity" />
        <activity android:name=".combine.CombineLatestActivity" />
        <activity android:name=".combine.JoinActivity" />
        <activity android:name=".combine.StartWithActivity" />
        <activity android:name=".combine.SwitchActivity" />
        <activity android:name=".ErrorActivity" />
        <activity android:name=".error.CatchActivity" />
        <activity android:name=".error.RetryActivity" />
        <activity android:name=".AssistActivity" />
        <activity android:name=".assist.DelayActivity" />
        <activity android:name=".assist.DoActivity" />
        <activity android:name=".assist.TimeIntervalActivity" />
        <activity android:name=".assist.TimeOutActivity" />
        <activity android:name=".assist.TimestampActivity" />
        <activity android:name=".ConvertActivity" />
        <activity android:name=".convert.ToListActivity" />
        <activity android:name=".convert.ToMapActivity" />
        <activity android:name=".convert.ToSortedActivity" />
        <activity android:name=".convert.ToMultiMapActivity" />
        <activity android:name=".convert.ToIterableActivity" />
        <activity android:name=".convert.GetIteratorActivity" />
        <activity android:name=".convert.ToFutureActivity" />
        <activity android:name=".convert.NestActivity" />
        <activity android:name=".ConditionActivity" />
        <activity android:name=".condition.AllActivity" />
        <activity android:name=".condition.AmbActivity" />
        <activity android:name=".condition.ContainsActivity" />
        <activity android:name=".condition.IsEmptyActivity" />
        <activity android:name=".condition.ExistActivity" />
        <activity android:name=".condition.DefaultIfEmptyActivity" />
        <activity android:name=".condition.SequenceEqualActivity" />
        <activity android:name=".condition.SkipUntilActivity" />
        <activity android:name=".condition.SkipWhileActivity" />
        <activity android:name=".condition.TakeUntilActivity" />
        <activity android:name=".condition.TakeWhileActivity" />
        <activity android:name=".ConnectActivity" />
        <activity android:name=".connect.ConnectActivity" />
        <activity android:name=".connect.ReplayActivity" />
        <activity android:name=".BlockActivity" />
        <activity android:name=".block.ForEachActivity" />
    </application>

</manifest>
