<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hjg.aidlclient">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_luncher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_luncher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!--Eventbus进程通信需要的服务-->
        <service
            android:name="xiaofei.library.hermes.HermesService$HermesService0"
            android:exported="true" />

        <!--跨进程接收广播-->
        <receiver android:name=".MyReceiver">
            <intent-filter>
                <action android:name="com.hjg.MYBROADCAST" />
            </intent-filter>
        </receiver>

    </application>

</manifest>